*~
src/build
src/bin
src/objs
src/ext/glog
src/ext/ptex
src/ext/veclib
.sconsign.dblite
build/
*.exr
*.stdout
*.log
workspace
# CMakeCache.txt
# CMakeFiles/
# CPackConfig.cmake
# CPackSourceConfig.cmake
# CTestTestfile.cmake
# Makefile
# bsdftest
# cmake_install.cmake
# cyhair2pbrt
# imgtool
# install_manifest.txt
# libpbrt.a
# obj2pbrt
# pbrt
# pbrt_test